[Unit]
Description=Tailscale sidecar for RSSHub
After=network-online.target
After=rsshub-pod.service
Requires=rsshub-pod.service
Wants=network-online.target

[Container]
Image=docker.io/tailscale/tailscale:stable
ContainerName=rsshub-tailscale
HostName=rsshub
Pod=rsshub.pod

Environment=TS_EXTRA_ARGS=--advertise-tags=tag:service-nonsensitive
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_SERVE_CONFIG=/serve.json
Environment=TS_USERSPACE=true
EnvironmentFile=%h/container-config/env/shared/tailscale.env

Volume=%h/container-data/rsshub/tailscale-state:/var/lib/tailscale:Z,U
Volume=%h/container-config/stacks/rsshub/tailscale-serve.json:/serve.json:Z,U

Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
